#gradient-canvas {
  width: 100%;
  height: 100%;
  z-index: -10;
  position: fixed;
  inset: 0;
  --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff;
}
body {
  font-family: ligurino, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: rgb(64, 65, 64);
  position: relative;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, MINMAX(MAX(3%, 1rem), 1fr));
  grid-auto-flow: column;
  text-align: center;
}

.todo-box,
.buy-box,
.remind-box {
  background-color: rgb(231, 183, 107);
  border-radius: 10px;
  position: relative;
  padding: 1em;

  text-align: center;
  width: 20em;
  margin: 0 auto;
  margin-bottom: 5px;
  * {
    margin: 5px 0;
  }
  h2 {
    margin: 10px 0;
  }
  h3 {
    font-size: 1rem;
    color: rgb(60, 60, 60);
  }
  .date {
    margin-top: 0 auto;
  }
  .fa-trash {
    color: #701d1d;
    font-size: 1.3rem;
    position: absolute;
    right: 5%;
    top: 5%;
    transition: 0.2s;
  }
  .fa-trash:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
  }
}
.buy-box {
  background-color: rgb(144, 194, 144);
}
.todo-box {
  background-color: rgb(225, 225, 173);
}

.input-container {
  position: absolute;
  bottom: 50%;
  left: 50%;
  min-height: 20em;
  min-width: 30em;
  margin-bottom: -150px;
  margin-left: -230px;

  background-color: rgb(180, 218, 97);

  border-radius: 10px;
  display: grid;
  z-index: 99;
  display: none;
  place-content: center;
  text-align: center;
  .fa-circle-xmark {
    color: red;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-size: 2.3rem;
    position: absolute;
    right: 2%;
    top: 2%;
    transition: 0.2s;
  }
  .addBeam {
    /* position: absolute;
    bottom: 3%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    /* Negative half of width. */
    margin-top: 20px;
  }
  .fa-circle-xmark:hover {
    transform: scale(1.2);
    transition: 0.2s;
    cursor: pointer;
  }
  h1 {
    text-transform: uppercase;
    font-size: 1.7rem;
  }
  .checkboxes {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, MINMAX(MAX(2%, .1rem), 2fr)); */
    min-width: 25em;
    max-width: 25;
    margin: 0 auto;
    grid-auto-flow: column;
    span {
      margin: 0 auto;
      font-size: 1.25rem;
    }
    input {
      width: 80%;
      height: 30px;
    }
  }
  .header {
    height: 1.5em;
    font-size: 1.2rem;
  }
  .desc {
    height: 5em;
    font-size: 1.2rem;
  }
  button {
    margin-bottom: auto;
  }
  .desc-container {
    display: none;
    /* grid-template-columns: repeat(auto-fit, MINMAX(MAX(2%, .1rem), 2fr)); */
    min-width: 25em;
    max-width: 25;
    margin: 0 auto;
    grid-auto-flow: row;
  }
}
.inputC-active {
  
  margin-bottom: -320px;
  margin-left: -400px;
  min-height: 40em;
  min-width: 50em;
  .desc-container {
    animation: inputAniIn .7s ease-in-out forwards;
  }
}
@keyframes inputAniIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.inputC-inactive {
  transition: 0.1s;
  bottom: 50%;
  left: 50%;
  min-height: 20em;
  min-width: 30em;
  margin-bottom: -150px;
  margin-left: -230px;
  .desc-container {
    animation: inputAniOut 0.7s ease-in-out forwards;
  }
}
@keyframes inputAniOut {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

.btn-70,
.btn-70 *,
.btn-70 :after,
.btn-70 :before,
.btn-70:after,
.btn-70:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-70 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-70:disabled {
  cursor: default;
}
.btn-70:-moz-focusring {
  outline: auto;
}
.btn-70 svg {
  display: block;
  vertical-align: middle;
}
.btn-70 [hidden] {
  display: none;
}
.btn-70 {
  box-shadow: inset 0 0 0 2px #fff;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: color 0.1s linear;
}
.btn-70:after,
.btn-70:before {
  content: "";
  position: absolute;
}
.btn-70:before {
  border-bottom: var(--border);
  border-top: var(--border);
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.btn-70:hover:before {
  --border: 4px solid #000;
  -webkit-animation: border-top-and-bottom 1s forwards;
  animation: border-top-and-bottom 1s forwards;
}
.btn-70:after {
  border-left: var(--border);
  border-right: var(--border);
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  width: 100%;
  z-index: -1;
}
.btn-70:hover:after {
  --border: 4px solid #000;
  -webkit-animation: border-right-and-left 1s forwards;
  animation: border-right-and-left 1s forwards;
}
@-webkit-keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.new {
  position: fixed;
  bottom: 3%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -90px; /* Negative half of width. */
}
